* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #DDDDDD;
    color: #000000;
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}